requests
google-auth
google-api-python-client
schedule
fastapi
uvicorn
httpx
python-dotenv

# SEO agent
pandas
python-dateutil
gspread
google-analytics-data

# Paid Campaigns
google-ads
google-auth-oauthlib

# Speech-to-Text (upload audio)
python-multipart
